<div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
  <header class="masthead mb-auto">
    <div class="inner">
      <div class="text-center">
          <h3 class="masthead-brand">Cover</h3>
      </div>
      <nav class="nav nav-masthead justify-content-center">
          <button class="btn btn-link">
              <a class="nav-link active" href="#">Home</a>
          </button>
          <button class="btn btn-link">
              <a class="nav-link" href="#">Features</a>
          </button>
          <button class="btn btn-link">
              <a class="nav-link" href="#">Contact</a>
          </button>
      </nav>
    </div>
  </header>

  <main role="main" class="inner cover">
      <div class="text-center">
          <h1 class="cover-heading">Cover your page.</h1>
          <div class="lead">
          <p class="text-center">
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sint aut eveniet laboriosam iusto beatae et quam corporis possimus quia recusandae! Officia consequatur sunt nisi fugiat maiores aliquam eius, debitis blanditiis nobis eum dolores tempore maxime soluta iusto ipsum repudiandae expedita, adipisci tenetur ipsa neque veritatis. Velit accusantium reprehenderit mollitia consequatur beatae molestiae nobis repudiandae necessitatibus, quis voluptate nihil voluptatum magnam ad ipsa ratione inventore hic ut esse facilis provident doloribus repellat, neque temporibus? Soluta suscipit adipisci omnis aliquam consequatur sapiente eveniet minima corporis incidunt alias eligendi maxime molestias delectus laborum hic tempora voluptatem voluptatum animi quod officiis, illo dicta beatae nam? Dolore eaque officiis eligendi nesciunt ut, placeat a maiores atque molestiae ab libero doloremque quibusdam sed consequuntur exercitationem magni.
          </p>
          </div>
          <p>
                <a href="#" class="btn btn-lg btn-secondary">Learn more</a>
          </p>
      </div>
  </main>

<div class="center">
    <button class="mx-auto" style="width: 200px;" class="btn btn-primary">Button should be red</button>
</div>